.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pdf
figures/
examples/examples_old.R
R/mbqn.check_saturation_v0.R
R/mbqn.check_saturation_v2.R
R/mbqn.boxplot_dev.R
R/mbqn.simu.data1.R
temp/
*.zip
temp/*.zip
examples/PXD001584/proteinGroups.txt
examples/PXD005138/proteinGroups.txt
examples/PXD005861/proteinGroups.txt    
examples/PXD006617/proteinGroups.txt
examples/example2.R
examples/example3.R
examples/example4.R


packrat/lib*/
packrat/src/
