Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pdf
*.html
vignettes/*.html
vignettes/*.R
vignettes/.gitignore
figures/
temp/
*.zip
*.tar.gz
temp/*.zip
packrat/lib*/
packrat/src/
MBQN.Rproj
PXD*
.gitignore~
*~
/doc/
/Meta/
